<div class="container">
  <alert-success [hidden]="!successMessage.show">
   <span [innerHTML]="successMessage.message"></span>
  </alert-success>
  <div class="row">
    <h1>Nossos empregados</h1>
    <p salaryColor="valor"></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <td colspan="3">
            <button class="btn btn-primary" (click)="openNewModal()">Novo Empregado</button>
          </td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let e of employees">

            <td><a href="javascript:void(0)" (click)="openDetailModal(e)">{{e.name}}</a></td>
            <td [innerHTML]="e.salary | myCurrency" [salaryColor]="e.salary"></td>

            <td [innerHTML]="e.bonus"></td>
            <td>
              <a href="javascript:void(0)" (click)="openEditModal(e)">Editar</a> |
              <a href="javascript:void(0)" (click)="openDestroyModal(e)">Excluir</a>
            </td>

          </tr>
      </tbody>
    </table>
  </div>
</div>
