<div class="container">
  <div class="row">
    <h1>Nossos empregados</h1>
    <p salaryColor="valor"></p>
    <table class="table table-striped">
      <thead>
          <tr>
              <td colspan="4">
                  <div class="row">
                      <div class="col-2 col-md-1">
                          <button class="btn btn-primary" (click)="openNewModal()" title="Novo empregado">
                              <i class="fas fa-plus"></i>
                          </button>
                      </div>
                      <div class="col-9 col-md-11">
                          <employee-search (onSearch)="handlerSearch($event)"></employee-search>
                      </div>
                  </div>
              </td>
</tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let e of employees | employeeFilter: this.search">

            <td><a href="javascript:void(0)" (click)="openDetailModal(e)">{{e.name}}</a></td>
            <td [innerHTML]="e.salary | myCurrency" [salaryColor]="e.salary"></td>

            <td [innerHTML]="e.bonus"></td>
            <td>
              <a href="javascript:void(0)" (click)="openEditModal(e)">Editar</a> |
              <a href="javascript:void(0)" (click)="openDestroyModal(e)">Excluir</a>
            </td>

          </tr>
      </tbody>
    </table>
  </div>
</div>
